/* General */
.menu_container{
    color: white;
    padding: 3.5vh 8vh;
    background-image: linear-gradient(
        to right,
        #0e39a7 0%,
        #21A6FF 50%
    );
}

/* Texts */
.title_menu{
    font-size: 300;
}