<div class="general_container p-4">
    <h1>Pet Store</h1>

    <div class="row">
        <div class="col-4">
            <input 
                type="text"
                class="form-control"
                placeholder="Search by name..."
                (input)="filter($event)">
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-end">
                <i class="uil uil-plus"></i>Add pet
            </button>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let pet of pets" class="col-xl-4 col-sm-6 col-xs-12">
            <app-card [pet]="pet"></app-card>
        </div>
    </div>
</div>