<div class="card my-3 p-2">
    <img *ngIf="pictureShowed" src="{{pet.image}}" class="card-img-top" alt="{{pet.name}}"> 
    <div class="card-body">
        <h5 class="card-title text-center mb-3">{{pet.name}}</h5>

        <span class="btn status_pet" [ngClass]="{
            'btn-success': pet.status.toLowerCase().includes('available'),
            'btn-warning': pet.status.toLowerCase().includes('pending'),
            'btn-danger': pet.status.toLowerCase().includes('sold')
        }">
            {{pet.status}}
        </span>
    </div>
</div>